<div id="custom-forms-plugin_submission">
  <h3><%= @form.name %></h3>

  <% if environment.admins.include?(current_person) ||
        profile.admins.include?(current_person) %>
    <div class="custom-form-options">
      <%= button :edit, _('Edit'), controller: 'custom_forms_plugin_myprofile',
                 action: 'edit', id: @form.id %>
      <%= button :remove, _('Remove'),
                 { controller: 'custom_forms_plugin_myprofile',
                   action: 'remove', id: @form.id },
                 data: { confirm: _('Are you sure you want to '\
                                    'remove this query?') } %>
    </div>
  <% end %>

  <div class='form-description'>
    <%= (@form.description || "").html_safe %>
  </div>

  <% if @submission.id.nil? %>
    <% if @form.expired? %>
      <% if @form.will_open? %>
        <h2><%= _('Sorry, you can\'t fill this form yet').html_safe %></h2>
      <% else %>
        <h2><%= _('Sorry, you can\'t fill this form anymore').html_safe %></h2>
      <% end %>
    <% end %>

    <%= render partial: 'shared/form',
               locals: { form: @form, submission: @submission } %>

  <% else %>
    <%= fields_for :submission, @submission do |f| %>
      <%= render partial: 'shared/form_submission',
               locals: { f: f, form: @form, submission: @submission } %>
    <% end %>
  <% end %>

</div><!-- end id="custom-forms-plugin_submission" -->
